<connectionStrings>
  <clear />
  <!--providerName="System.Data.SqlClient"-->
  <add name="RoyalShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=RoyalShop;Integrated Security=False;User Id=sa;Password=phanthienphu;MultipleActiveResultSets=True" />
</connectionStrings>